/// VARIABLES ///

// COLOURS

$bg-colour: #1A1A1A;
$fg-colour: #D4D4D4;
$block-colour: #363636;

$primary-colour: #4AF626;
$secondary-colour: #D226F6;

// LISTS

$primary-border: (3px solid #4AF626);
$secondary-border: (3px solid #D226F6);

// MAPS

$breakpoints: (
	'desktop': 768px
);
