/* global styling */

* {
	box-sizing: border-box;
}

html {
	background-color: $bg-colour;
	color: $fg-colour;
	margin: 0;
	padding: 0;
}

body {
	margin: 12px;
}

pre {
	overflow: auto;
}

li[class*="img-descriptive"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	padding: 0;
}

li[class*="img-descriptive"]>p, li[class*="img-descriptive"]>section {
	flex: 0 50%;
	@include margin-h(0);
	@include margin-v(1em);
	width: 100%;
}

a {
	color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
	.in-body {
		margin: 0 15em;
	}
}
